<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>AdonisJS x Inertia x VueJS</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tiny.cloud/1/r0kyy3f9576n03nghwyvxjtnhbzamd5u7r7wqbj8up2av1ud/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body>
  @inertia()
</body>

</html>